/* init */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.float {
	float: left;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* end init */

/* typo */


/* end-typo */

/* section GENERALE */
body {
	background-color: tan;
	background: rgb(145, 203, 230);
	background: linear-gradient(0deg, rgba(145, 203, 230, 1) 75%, rgba(96, 127, 227, 1) 75%);
}

.container {
	height: 90vh;
	width: 1200px;
	margin: 5vh auto;
	background-color: white;
	border: 1px solid black;
}

/* HEADER */

header {
	height: 75px;
	background-color: red;
}

/* header-left */

.header-left {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
}

.header-left {
	padding: 0 5px 0 0;
}

.header-left-login img {
	height: 60px;
}

.header-left-icon i {
	font-size: 24px;
	padding: 0 5px;
}


/* header-right */

.header-right {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
}

.header-right {
	padding: 0 5px 0 0;
}

.header-right-login {
	height: 75px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;


}


.header-right-login img {
	height: 60px;

}

.header-right-login .ultimo-accesso {
	height: 75px;
	width: 200px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}

.header-right-icon i {
	font-size: 24px;
	padding: 0 5px;
}

/* COLONNA SX */

section.column-left {
	height: calc(100% - 75px);
	width: 30%;

}

/* colonna-sx top */
.aside-top {
	height: 70px;
	padding: 10px;
	display: flex;
	align-items: center;
	background-color: #8edafc;
}

.aside-top .bell {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: white;

	display: flex;
	align-items: center;
	justify-content: center;
}

.aside-top i {
	font-size: 24px;
	color: #8edafc;
}

.aside-top .notifiche {
	padding: 10px;
}

/* end colonna-sx top */

/* colonna-sx center search */
.aside-center {
	height: 50px;
	padding: 5px;
	display: flex;
	align-items: center;
	font-size: 24px;
	background-color: white;
}

.aside-center i {
	padding: 5px;
}

.aside-center input {
	flex: 1 0 auto;
	height: 30px;
	padding: 0 5px;
	border: 1px solid lightgrey;
	border-radius: 10px;
}

/* end colonna-sx center search */

/* colonna-sx bottom */

.aside-bottom {
	overflow-y: auto;
	height: calc(100% - 120px);

}

.contatti {
	height: 100px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-bottom: 1px solid rgb(231, 229, 229);

}

.contatti img {
	height: 60px;
}

/* fine colonna-sx bottom */


/* COLONNA SX */


section.column-right {
	height: calc(100% - 75px);
	width: 70%;
	background-color: lightsteelblue;
}

/* colonna-dx chat */


.chat {
	overflow-y: scroll;
	height: calc(100% - 50px);
	background-image: url('https://web.whatsapp.com/img/bg-chat-tile-light_9e8a2898faedb7db9bf5638405cf81ae.png');
	background-color: rgba(0, 0, 0, 0.425);
}


/* end colonna-dx chat */

/* colonna-dx scrivi messaggio */

.message-input {
	height: 50px;
	background-color: white;
	display: flex;
	justify-content: space-around;
}

.emoticon {
	flex: 0 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.message {
	flex: 1 1 auto;
	padding: 10px 0;
}

.message input {
	width: 100%;
	height: 100%;
}

.mic {
	flex: 0 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

/* end colonna-dx scrivi messaggio */