/* init */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.float {
	float: left;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* end init */

/* typo */


/* end-typo */

/* section general */
body {
	background-color: tan;
	background: rgb(145, 203, 230);
	background: linear-gradient(0deg, rgba(145, 203, 230, 1) 75%, rgba(96, 127, 227, 1) 75%);
}

.container {
	height: 90vh;
	width: 1200px;
	margin: 5vh auto;
	background-color: white;
	border: 1px solid black;
}

/* header */

header {
	height: 75px;
	background-color: red;
}

/* header-left */

.header-left {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
}

.header-left {
	padding: 0 5px 0 0;
}

.header-left-login img {
	height: 60px;
}

.header-left-icon i {
	font-size: 24px;
	padding: 0 5px;
}


/* header-right */

.header-right {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
}

.header-right {
	padding: 0 5px 0 0;
}

.header-right-login {
	display: flex;
	align-items: center;
}


.header-right-login img {
	height: 60px;

}

.header-right-login .ultimo-accesso {
	height: 75px;
	width: 200px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}

.header-right-icon i {
	font-size: 24px;
	padding: 0 5px;
}





/* colunna di sx */

section.column-left {
	height: calc(100% - 75px);
	width: 30%;
	background-color: rgb(197, 197, 197);
}

/* aside top */
.aside-top {
	height: 70px;
	padding: 10px;
	display: flex;
	align-items: center;
	background-color: #8edafc;
}

.aside-top .bell {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: white;

	display: flex;
	align-items: center;
	justify-content: center;
}

.aside-top i {
	font-size: 24px;
	color: #8edafc;
}

.aside-top .notifiche {
	padding: 10px;
}

/* end aside top */

/* aside center search */
.aside-center {
	height: 50px;
	padding: 5px;
	display: flex;
	align-items: center;
	font-size: 24px;
	background-color: white;

}

.aside-center input {
	flex: 1 0 auto;
	height: 30px;
	padding: 0 5px;
	border-radius: 10px;


}

/* end aside center search */

/* aside bottom */

.aside-bottom {
	overflow-y: scroll;
	height: calc(100% - 120px);
	background-color: lightgreen;
}

section.column-right {
	height: calc(100% - 75px);
	width: 70%;
	background-color: lightsteelblue;
}


main {
	overflow-y: scroll;
	height: calc(100% - 70px);

}

footer {
	height: 70px;
	background-color: white;
}